extends ../layout/row

block content
    span(class='small-12 columns')
        h1(class='text-center') #{title}

        div(class='small-12 columns')
            div(class='small-6 medium-4 large-2 columns')
                a(class='button tiny secondary postfix' href='/user') Back

        form(class='small-12 columns' action='/user/create' method='post' enctype='application/x-www-form-urlencoded')

            div(class='small-12 columns')
                div(class='small-4 columns')
                    label(for='email') Email
                div(class='small-8 columns')
                    input(type='email' name='email' value=email)

            div(class='small-12 columns')
                div(class='small-4 columns')
                    label(for='username') Username
                div(class='small-8 columns')
                    input(type='text' name='username' value=username)

            div(class='small-12 columns')
                div(class='small-4 columns')
                    label(for='firstname') Firstname
                div(class='small-8 columns')
                    input(type='text' name='firstname' value=firstname)

            div(class='small-12 columns')
                div(class='small-4 columns')
                    label(for='lastname') Lastname
                div(class='small-8 columns')
                    input(type='text' name='lastname' value=lastname)

            div(class='small-12 columns')
                div(class='small-6 medium-4 large-2 columns right text-right')
                    button(type='submit' class='button tiny success right postfix').
                        Create
